<div class="card-border-white-small">

<!-- Card de face -->
  <div class="card card-big" >
    <div class="card-hover-small">

    <div class="event-details">
      <h3><%=event.title%></h3>
      <p><%=event.description.split("De ")[0]%></p>
      <p class="small-p">De <%=event.description.split("De")[1]%></p>
    </div>
      <p class="small-p-price"> <%=event.price%></p>

    </div>
  </div>



      <div class="topcard-small">
        <strong><%=event.time.slice(0..4) %></strong>
        <div class="topcard-address">
          <% if event.venue.length > 33 %>
            <p><%=event.venue%><em class="small-p"> - <%=event.address.slice(-5..-1)%></em></p>
          <% else %>
            <p><%=event.venue%></p>
            <p><em class="small-p"><%=event.address.slice(-5..-1)%></em></p>

          <%end  %>

        </div>
      </div>


      <div class="links">
        <ul class="list-inline">
          <li class="copy-link">
             <button class="btn-clip" data-clipboard-text="<%= event_url(event) %>">
              <i onclick="changeTootltipMap(<%= event.id %>)" id="tooltip_map_<%=event.id%>" value="test" class="fas fa-link tooltip-before-copy" data-toggle="tooltip" data-placement="top" title="Partager le lien" ></i>
              <i  id="tooltip2_map_<%=event.id%>" value="test" class="fas fa-link hidden tooltip-after-copy" data-toggle="tooltip" data-placement="top" title="Copié !" ></i>
             </button>
          </li>
        </ul>
      </div>

      <div class="infos">
            <% url_booking = "#{event.url_zoom.gsub('evt.htm', 'evtbook.htm')}" + "?&dh=" + "#{event.date.year.to_s}" + "-" + "#{event.date.month.to_s}" + "-" + "#{event.date.day.to_s}" + "+" + "#{event.time.slice(0..4).gsub('h', ':')}" + "#pricePart" %>
            <%= link_to "Réserver", url_booking, class: "btn btn-reserver", target: '_blank' %>
       </div>

  </div>





