<div class="navbar-wagon">
  <p>
  <span id="logo-typed-text" style= "font-size: 50px;"></span>
  </p>


   <div class="search-box">
    <%= form_tag events_path, class: "new-search-bar", method: :get, class: "form-inline" do %>
      <div class="form-group">
        <%= label :date, "Date souhaitée : " %>
        <%= text_field_tag :date, params[:date], class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label :location, "À proximité de : " %>
        <%= text_field_tag :location, params[:location], class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label :distance, "Dans un rayon de : " %>
        <%= text_field_tag :distance, params[:distance], placeholder: "10 km", class: "form-control" %>
      </div>

      <%= submit_tag value="Go", class: "btn btn-default"  %>
    <% end %>
   </div>

</div>






