<div class="navbar-wagon">

  <%= link_to root_path , class: "link" do %>
    <p>B<span id="logo-typed-text" style= "font-size: 50px; color: white; font-family: 'Poiret One'"></span></p>
  <%end%>

  <div class="navbar-wagon-right hidden-xs hidden-sm">

     <div class="search-box" id="search-navbar", style="width: auto">
      <%= form_tag events_path, class: "new-search-bar", method: :get, class: "form-inline" do %>
        <div class="form-group">
          <%= text_field_tag :date, params[:date], class: "form-control", style: "width: 130px; color: white; background-color: transparent; border-bottom-color: white;" %>
        </div>

        <div class="form-group">
          <%= text_field_tag :location, params[:location], class: "form-control", style: "width: 350px; color: white; background-color: transparent; border-bottom-color: white;" %>
        </div>

        <div class="form-group">
           <%= text_field_tag :distance, params[:distance], placeholder: "10 (km)", class: "form-control", style: "width: 80px; color: white; background-color: transparent; border-bottom-color: white;"%>
        </div>

        <%= submit_tag value="Action !", class: "btn btn-default"  %>
      <% end %>
    </div>
  </div>

  <div class="navbar-wagon-item hidden-md hidden-lg">
    <button id="search", class="btn btn-home btn-transparent"> Recherche</button>
  </div>

</div>






