
  <div class="search-box" id="search-box-home">
    <%= form_tag events_path, class: "new-search-bar", method: :get do %>

      <div class="row home">
        <div class="form-group col-xs-10 col-xs-offset-1 col-md-offset-0  col-md-3">
          <%= text_field_tag :date, params[:date], placeholder: "Ce soir", class: "form-control" %>
        </div>



        <div class="form-group col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0">

          <%= text_field_tag :location, params[:location], class: "form-control", style: "color: white; background-color: transparent; border-bottom-color: white; font-size: 16px;" %>
        </div>

        <div class="form-group col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-2 ">

            <%= text_field_tag :distance, params[:distance], placeholder: "3 km", class: "form-control", style: "color: white; background-color: transparent; border-bottom-color: white; font-size: 16px;" %>
        </div>
         <div class="form-group col-xs-10 col-xs-offset-1 col-md-offset-0 col-md-2 btnhome">
      <%= submit_tag value="J'y cours !", class: "btn btn-home" %>
      </div>
      </div>



      <% end %>

  </div>
