

<h1>Events</h1>

<div class="visible-xs">
<!-- SMALL DEVICE -->
  <ul class="nav nav-tabs nav-perso" role="tablist">
    <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab"><i class="fas fa-list-ul"> </i> A l'affiche</a></li>
    <li role="presentation" id="map-xs"><a href="#carte" aria-controls="carte" role="tab" data-toggle="tab"><i class="fas fa-map-marker"> </i> Carte</a></li>
  </ul>
<!-- TABS -->

<!-- TAB CARDS -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-xs-12">
              <div class="card" style="background-image: linear-gradient(rgba(240,240,240,0.2), rgba(240,240,240,0.1)), url(<%= cl_image_path event.photo, crop: :fill %>);">
                <div class="circle-white">
                  <%=event.time.strftime("%H:%M") %>
                </div>
                <div class="card-description">
                  <h2><%=event.title%></h2>
                  <p><%=event.venue%></p>
                </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>

<!-- TAB CARTE -->
    <div role="tabpanel" class="tab-pane" id="carte">

    </div>
  </div>
</div>


<!-- BIG DEVICE -->
<div class="hidden-xs">
  <ul class="nav nav-tabs nav-perso" role="tablist">
   <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">A l'affiche</a></li>
    <li role="presentation" id="map-md"><a href="#carte" aria-controls="carte" role="tab" data-toggle="tab">Carte</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-md-6">
              <div class="card" style="background-image: linear-gradient(rgba(240,240,240,0.2), rgba(240,240,240,0.1)), url(<%= cl_image_path event.photo, crop: :fill %>);">
                  <div class="circle-white">
                  <%=event.time.strftime("%H:%M") %>
                </div>
                <div class="card-description">
                  <h2><%=event.title%></h2>
                  <p><%=event.venue%></p>
                </div>
              </div>
          </div>
        <% end %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="carte">

    </div>

  </div>
</div>
