
<div class="search-container">
  <div class="search-banner search-hidden">
    <%= render 'shared/search' %>
  </div>
</div>


<%if @events.size == 0 %>
  <p class="msg-zero-result">Dommage! <br><br>Toutes les pièces de théâtre autour de vous affichent complet.<br><br>
  Élargissez votre périmètre géographique ou choisissez une autre soirée !</p>

<% else %>
  <%# if @events.size == 1 %>
    <!-- <p class="msg-result">Il ne reste plus qu'une pièce de théatre disponible autour de vous ce soir. Dépêchez-vous ou élargissez vos critères de recherche! </p> -->
  <%# elsif @events.size == 5 %>
    <!-- <p class="msg-result">Voici les <%= @events.size %> pièces de théatre sélectionnées autour de vous. Bonsoir.</p> -->
  <%# else %>
     <!-- <p class="msg-result">Voici les <%= @events.size %> pièces de théatre sélectionnées autour de vous. Bonsoir.</p> -->
      <!-- <p class="msg-result">Pour afficher plus de résultats, élargissez vos critères de recherche.</p> -->
  <%# end %>

<div class="wrap">
  <div class="trait">
  </div>
  <ul class="nav nav-tabs nav-perso" role="tablist">
<!-- <div class="traitleft"></div> -->

    <li role="presentation"  class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab"><i class="fas fa-list-ul "> </i> À l'affiche</a></li>
    <li role="presentation" id="map-xs" ><a href="#carte" aria-controls="carte" role="tab" data-toggle="tab"><i class="fas fa-map-marker "> </i> Sur la carte</a></li>
<!-- <div class="traitright"></div> -->
  </ul>
<div class="trait">
  </div>
  </div>


<!-- SMALL DEVICE -->
<!-- TABS -->

<!-- TAB CARDS -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="list">

      <div class="card-container">

        <div class="slick-caroussel">
            <% @events.each do |event| %>
              <!-- <div class="col-xs-12 col-sm-6 col-md-4"> -->
              <div class="card-border-white">

              <!-- Card de face -->
                <div class="card card-big" style="background-image: linear-gradient(rgba(240,240,240,0.2), rgba(240,240,240,0.1)), url(<%= cl_image_path event.photo, crop: :fill %>);">
              <!-- Card retournée -->
                  <div class="card-hover">
                    <div class="event-details">
                      <h3><%=event.title%></h3>
                      <p><%=event.description.split("De ")[0]%></p>
                      <p class="small-p">De <%=event.description.split("De")[1]%></p>
                      <p class="small-p"> <%=event.price%></p>
                    </div>

                  </div>
                    <!-- Card map -->
                  <div class="card-map">
                    <div
                      style="height:400px"
                      for="map-sticker_<%=event.id%>"
                      id="map-sticker_<%=event.id%>"
                      data-markers="<%= @markers.to_json %>">
                    </div>
                    <!-- <div> -->
                    <i id="duration-<%=event.id%>" class="fas fa-walking duration hidden">
                     <!--  <i class=""></i> -->
                    </i>
                  <!--   </div> -->
                </div>

                </div>


                <div class="topcard">
                  <strong><%=event.time.slice(0..4) %></strong>
                  <div class="topcard-address">
                    <p><%=event.venue%>
                    <em class="small-p"> - <%=event.address.slice(-5..-1)%></em></p>
                  </div>
                </div>


                <div class="links">
                  <ul class="list-inline">

                    <li>
                      <i class="fas fa-map-marker btn-circle map-show" id="map-sticker_<%=event.id%>" data-event-id="<%=event.id%>" data-toggle="tooltip" data-placement="top" title="Voir sur une carte"></i>
                      <i class="fas fa-map-marker btn-circle map-hidden hidden" id="map-hidden-<%=event.id%>"></i>
                    </li>

                    <li class="copy-link">
                       <input id="<%= event.id %>" type="text" value="<%= event_url(event) %>" style="opacity: 0; width:10px" ></input>
                       <i onclick="copyText(<%= event.id %>)" id="tooltip" value="test" class="fas fa-link" data-toggle="tooltip" template="<div class='tooltip' role='tooltip'><div class='arrow'></div><div class='tooltip-inner'>Test</div></div>" data-placement="top" title="Partager le lien" ></i>
                        <i id="tooltip2" value="test" class="fas fa-link hidden" data-toggle="tooltip" template="<div class='tooltip' role='tooltip'><div class='arrow'></div><div class='tooltip-inner'>Test</div></div>" data-placement="top" title="Copié!" ></i>
                    </li>


                  </ul>
                </div>
                <div class="infos">
                      <% url_booking = "#{event.url_zoom.gsub('evt.htm', 'evtbook.htm')}" + "?&dh=" + "#{event.date.year.to_s}" + "-" + "#{event.date.month.to_s}" + "-" + "#{event.date.day.to_s}" + "+" + "#{event.time.slice(0..4).gsub('h', ':')}" + "#pricePart" %>
                      <%= link_to "Réserver", url_booking, class: "btn btn-reserver", target: '_blank' %>
                </div>

              </div>

            <% end %>
          </div>
        </div>

    </div>


<!-- TAB CARTE -->
    <div role="tabpanel" class="tab-pane" id="carte">
      <div class="map-container">
        <div
          id="map_xs"
          style="width: 100%;
          height: 500px;
          margin-top: 15px;"
          data-markers="<%= @markers.to_json %>">
        </div>

      </div>
    </div>
<!-- fin TAB CARTE -->
  </div>
<% end %>


<script>
  function copyText(id){
    console.log(id)
    const input = document.getElementById(id);
    console.log(input);
    input.select()
    document.execCommand("copy");
    const tooltip = document.getElementById("tooltip")
    const tooltip2 = document.getElementById("tooltip2")
    tooltip.classList.add('hidden')
    tooltip2.classList.remove('hidden')
    // console.log(tooltip)
    // tooltip.removeAttribute("title")
    // console.log(tooltip)
    // tooltip.setAttribute("data-original-title",'Copié!')

  }
</script>


