

<h1>Events</h1>

<!-- SMALL DEVICE -->
<!-- TABS -->
<div class="visible-xs">
  <ul class="nav nav-tabs tab-color" role="tablist">
    <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">A l'affiche</a></li>
    <li role="presentation" id="map-xs"><a href="#carte" aria-controls="carte" role="tab" data-toggle="tab">Carte</a></li>
  </ul>

<!-- TAB CARDS -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-xs-12">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path event.photo, crop: :fill %>);">
                <div class="circle-white">
                  <%=event.time.strftime("%H:%M") %>
                </div>
                <div class="card-description">
                  <h2><%=event.title%></h2>
                  <p><%=event.venue%></p>
                </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>

<!-- TAB CARTE -->
    <div role="tabpanel" class="tab-pane" id="carte">
      <div
        id="map_xs"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>">
      </div>
    </div>
  </div>
</div>


<!-- BIG DEVICE -->
<div class="hidden-xs">
  <ul class="nav nav-tabs tab-color" role="tablist">
   <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">A l'affiche</a></li>
    <li role="presentation" id="map-md"><a href="#carte" aria-controls="carte" role="tab" data-toggle="tab">Carte</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="list">
      <div class="row">
        <% @events.each do |event| %>
          <div class="col-md-4">
            <div class="card">
              <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path event.photo, crop: :fill %>);">
              </div>
                <div class="card-description">
                  <h2><%=event.title%></h2>
                  <p><%=event.venue%></p>
                  <p><%=event.time.strftime("%H:%M") %></p>
                  <p><%=event.price%></p>
                </div>


            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="carte">
      <div
        id="map-md"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>">
      </div>
    </div>

  </div>
</div>
